*.uasset filter=lfs diff=lfs merge=lfs -text
.exe filter=lfs diff=lfs merge=lfs -text
*.ucas filter=lfs diff=lfs merge=lfs -text
*.pak filter=lfs diff=lfs merge=lfs -text

*.cpp text working-tree-encoding=UTF-8
*.h text working-tree-encoding=UTF-8
*.cs text working-tree-encoding=UTF-8
*.txt text working-tree-encoding=UTF-8
*.ini text working-tree-encoding=UTF-8